.img-banner{
    background-color: gainsboro;
}
.img-banner img {
    height: 100%;
    width: 100%;
}
.banner-a1{
    all: unset;
    width: 320px !important;
    height: 60px !important;
    float: right;
    margin: 5px !important;
    overflow: hidden;
}
.banner-home1{
    width: 1065px;
    height: 300px;
}
.banner-eyenews1{
    width: 315px;
    height: 320px;
}
.banner-eyenews3{
    width: 1065px;
    height: 100px;
}
.banner-eyenews4{
    width: 360px;
    height: 320px;
}
.banner-eyetube1{
    width: 300px;
    height: 320px;
}
.banner-eyetube2{
    width: 690px;
    height: 100px;
}
.banner-eyevent1{
    width: 300px;
    height: 305px;
}
.banner-eyeprofile1{
    width: 430px;
    height: 300px;
}
.banner-eyeprofile4{
    width: 425px;
    height: 100px;
}
.banner-eyeprofile5{
    width: 425px;
    height: 200px;
}
.banner-150{
    width: 100%;
    float: left;
    height: 130px;
    background-color: gainsboro;
}