/* .desktop {
    width: 1065px;
    margin: 0 auto;
    vertical-align: middle;
}
.garis-x, .garis-banner, .x-m, footer, .banner-150, .rek-ber, .box-vl, .tab, .et-content, nav, .trending, .menu, .jadwal, .pemain, .bx-pemain, .container {
    width: 100%;
    float: left;
}
.center-desktop {
    width: 1065px;
}
style.css:46
.m-0 {
    margin: 0 auto;
}
style.css:50
.m-0 {
    margin: 0 auto;
}
.center-desktop{
    width: 1065px;
} */